
/*page-header*/
.page--header {
    text-align: center;
    padding: 80px 0 92px;
    font-weight: 300;
    background: url(../images/pattern-dark.png) #383d61;
}
.page-header-title{
	font-size: 60px;
    color: #fff;
    font-weight: 400;
}
.section .section-header .section--description {
    font-size: 16px;
    color: #9b9b9b;
    text-align: center;
    margin: 0;
}
.filters {
    margin-top: 20px;
}
.filters a{
    border-radius: 0;
    padding: 10px 15px;
    border: 1px solid transparent;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.filters .nav.nav-pills li.active a{
	background: #fafafa;
	color: #e84c3d;
}
.filters .nav.nav-pills li a:hover{
	background: #fafafa;
	color: #e84c3d;
}
@media (max-width: 480px){
	.filters .nav-pills > li {
	    display: inline-block;
	    width: 100%;
	}
}
.article {
    margin: 50px 0 50px;
}
.article .article-img {
    overflow: hidden;
    border-radius: 3px;
    margin: 0 0 26px;
}
.article .article-img img {
    width: 100%;
}
.article .article-header {
    verflow: hidden;
    border-radius: 3px;
    margin: 0 0 13px;
}
.article .article-header h2 {
    font-size: 20px;
    line-height: 8px;
    font-weight: 400;
}
.article .article-header h2 a {
    color: #262626;
}

.article .article--content {
    font-size: 16px;
    line-height: 23px;
    color: #969696;
}
.article .article--content p {
    font-size: 14px;
    margin-top: 20px;
}
.article .article--footer .link {
    font-size: 16px;
    color: #59bcdb;
}
.article .article-header a:hover,.article .article--footer a:hover{
    text-decoration: none;
}
.article .article--footer .link:after {
    content: ">>";
    color: #59bcdb;
    margin-left: 8px;
}



.header .main-nav .nav .nav-item a {
    color: #92989b;
}
.header .main-nav .navbar-toggle{
	background: #e84c3d;
}
@media (min-width: 992px){
	.header.scrolled{
		position: fixed;
	}
	
}


/*about*/

h1,h2,h3{
	font-weight: 300;
}

.embed-responsive{
	overflow: visible;
}
.center{
	color: #666;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.list-icons li {
    padding: 5px 0;
}
.developer{
	color: #666;
}
.developer .col-md-2 .content p, .developer .col-md-3 .content p {
    margin: 0;
    padding: 0;
    /* height: 40px; */
    line-height: 28px;
}

.developer .col-md-2 .content p:after, .developer .col-md-3 .content p:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: auto;
    background: #e3e4e4;
}
.text-center {
    text-align: center;
}
.content span.font_12 {
    font-size: 12px;
}

.content span.span_block {
    display: block;
    text-indent: 0;
}
.developer .col-md-2, .developer .col-md-3, .developer .col-sm-4, .developer .col-sm-6, .developer .col-xs-6 {
    margin-top: 20px;
}
